body {
  background-image: url('/static/galaxy.jpg');
}
#heading {
  font-family: 'Lobster', cursive;
  color: #fff;
  text-align: center;
  font-size: 3em;
}
img {
  /*width: 600px;*/
  width: 46vw;
  /*height: 400px;*/
  height: 65vh;
}
#responsiveTabsMain {
  width: 65%;
  margin: 10px auto auto;
  height: 84vh;
}
#tab-1, #tab-2, #tab-3 {
  height: 73vh;
}
#li1-a, #li2-a, #li3-a {
  font-size: 1em;
}
.my-carousel {
  width: 85%;
  margin: 0 auto;
}
.slick-next:before, .slick-prev:before {
  color: lightgray;
}
.slick-slide, a {
  outline: none;
}
figure {
  margin-top: 5px;
  margin-bottom: 5px;
}
.caption {
  margin-left: 40px;
  font-size: 1.2em;
}
.caption a {
  text-decoration: none;
}
@media (max-width: 900px) {
  #responsiveTabsMain {
    width: 85%;
    height: 100%;
  }
  img {
    width: 57vw;
  }
  #heading {
    font-size: 2.5em;
  }
}
@media (max-width: 600px) {
  #responsiveTabsMain {
    width: 100%;
    height: 100%;
  }
  #tab-1, #tab-2, #tab-3 {
    height: 100%;
  }
  img {
    width: 100%;
    height: 100%;
  }
}
#accordion {
  width: 80%;
  margin: 15px auto 0px;
}
#accordion a {
  color: #5DADE2;
  font-style: italic;
  text-decoration: none;
}
#accordion li {
  margin-bottom: 15px;
}
#acc-div-one {
  max-height: 24vh;
}
#tab-3 {
  background-color: #ffe6ff;
}
#myself {
  float: left;
  width: 125px;
  height: 125px;
  margin-right: 15px;
  border-radius: 50%;
}
#about {
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  margin: 20px 20px;
}
